/* login.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background: linear-gradient(135deg, #121212, #1e1e1e);
    color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    background: linear-gradient(135deg, #1c1c1c, #1c1b1b);
    border-bottom: 2px solid #010101;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    height: 90px;
}

.navbar-logo {
    height: 80px;
    width: auto;
    margin: 10px 15px;
}

.nav-link {
    color: #ccc;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
    color: #007bff;
    transform: translateY(-3px);
}

.card {
    background: #1f1f1f;
    border: 1px solid #444;
    padding: 20px;
    color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card-header {
    background: #2c2c2c;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    border-bottom: 2px solid #444;
}

.card-body {
    background: #121212;
}

#roleSelection a {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#roleSelection a:hover {
    transform: translateY(-3px);
    text-decoration: none;
}

.footer {
    background: #121212;
    color: #bbb;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid #444;
}
